<div class="container">
  <div class="row">
    <div class='mx-auto col-md-11 text-center'>

      <strong>Fragrances Shop</strong>
      <p>このサイトは、香水販売の<strong>EC</strong>サイトになります。</p>
      <p>会員でない方も商品の閲覧はできますが、</p>
      <p>購入には会員登録が必要になります。</p>

    </div>
  </div>
</div>